*.pth
*.swp
config.cfg
__pycache__/
ambient_occlusion/
crown/
curvatures/
dc_img/
dc_img/
dc_img_ambient_occlusions/
dc_img_curvatures/
dc_img_depths/
dc_img_diffuse_albedo
dc_img_edges/
depths/
diffuse_albedo/
edges/
eval_img/
eval_img_curvatures/
eval_img_depths/
eval_img_diffuse_albedos/
eval_img_edges/
normals/
out/
out_bak/
